<header class="navbar-inverse navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand" id="n-brand">
        <%= image_tag "uber_logo.png", id: "uber_logo" %>
        Promo Code
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <!-- <ul class="nav navbar-nav">
        <li>

          <%= link_to 'Promo', promo_path, class: active?(promo_path) %>
        </li>
        <!-- <li>
          <%= link_to 'About', about_path, class: active?(about_path) %>
        </li>
        <li>
          <%= link_to 'Drive', drive_path, class: active?(drive_path) %>
        </li> -->
      </ul> -->
    </nav>
  </div>
</header>