<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>FIRST RIDE IS ON THE HOUSE</h1>
			<br />
			<h2>Use Promo Code: <span class="promo_code">0pq9ls</span>&nbsp;</h2>
			<!-- <a class="btn btn-primary promo_code">Copy to Clipboard</a> -->
			<p class="first_paragraph">$25 credit for new users</p>
			<p class="second_paragraph">Join the rideshare revolution!</p>
			<p class="third_paragraph">Experience how easy and convenient it is to order a ride with Uber's revolutionary service!</p>
			<br />
			<br />
			<p><a class="btn btn-primary btn-lg" href="https://www.uber.com/invite/0pq9ls">Get the App!</a></p>
		</div>
	</div>
</div>